<title><%= title %></title>
<link rel="icon" href="/icon.png" type="image/png" />
<link rel="stylesheet" href="/style.css" />
<%- include('navbar') %> <% if (item) { %>
<div class="form-element">
	<%- include("errors.ejs") %>
	<form action="/items/<%=item.name%>/edit" method="post">
		<input
			type="text"
			name="itemName"
			id="itemName"
			placeholder="Fruit Name"
			class="form-input"
			value="<%= item.name %>"
			required
		/>
		<input
			type="number"
			name="itemPrice"
			id="itemPrice"
			placeholder="Fruit Price per KG"
			class="form-input"
			value="<%= item.price %>"
			min="1"
			required
		/>
		<select
			name="itemCategory"
			id="type-select"
			class="form-input"
			required
		>
			<% categories.forEach((category) => { %> <% if(category.name
			===item.category) { %>
			<option selected value="<%= category.name %>">
				<%= category.name %>
			</option>
			<% } else { %>
			<option value="<%= category.name %>"><%= category.name %></option>
			<% } %> <% }) %>
		</select>
		<button type="submit">Edit Item</button>
	</form>
	<a href="/items"><button>Cancel</button></a>
</div>
<% } else { %>
<div class="form-element">
	<%- include("errors.ejs") %>
	<form action="/items/create" method="post">
		<input
			type="text"
			name="itemName"
			id="itemName"
			placeholder="Fruit Name"
			class="form-input"
			required
		/>
		<input
			type="text"
			name="itemPrice"
			id="itemPrice"
			placeholder="Fruit Price per KG"
			class="form-input"
			required
		/>
		<select
			name="itemCategory"
			id="type-select"
			class="form-input"
			required
		>
			<option value="">Please choose a type</option>
			<% categories.forEach((category) => { %>
			<option value="<%= category.name %>"><%= category.name %></option>
			<% }) %>
		</select>
		<button type="submit">Add Item</button>
	</form>
	<a href="/items"><button>Back</button></a>
</div>
<% } %> <%- include('footer') %>
