<title>Fruity Items</title>
<link rel="icon" href="icon.png" type="image/png" />
<link rel="stylesheet" href="style.css" />
<%- include('navbar') %>
<div class="add-button">
	<a href="/items/create">
		<button>Add Item</button>
	</a>
</div>
<div class="categories">
	<% items.forEach((item) => { %>
	<div class="category">
		<img src="<%= item.name %>.jpg" alt="" />
		<div class="item-details">
			<h3><%= item.name %></h3>
			<p><%= item.price %>$/KG</p>
		</div>
		<div class="edit-delete-buttons">
			<a href="/items/<%= item.name %>/edit">
				<button>Edit</button>
			</a>
			<form
				action="/items/<%= item.name %>/delete"
				method="post"
				style="display: inline"
			>
				<button
					type="submit"
					onclick="return confirm('Are you sure you want to delete this item?');"
				>
					Delete
				</button>
			</form>
		</div>
	</div>
	<% }) %>
</div>
<%- include('footer') %>
